* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header-container-top {
    background-color: #222222;
    color: #f3f3f3;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 4px 60px 4px 90px;
}
.header-container-top > select{
    background-color: #222222;
    color: #f3f3f3;
    border: none;
}
.header-container-bottom {
    display: flex;
    padding: 24px 40px;
    justify-content: space-between;
    background-color: #f0a83e;
  }
.nav-links {
    list-style: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    cursor: pointer;
}
.nav-links > li {
    /* display: inline; */
    padding-right: 20px;
}
.banner {
    background-image: url('../img/bowl-and-pet-daities-on-green-background\ 1.png');
    background-size: cover;
    height: 409px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.banner-action {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.banner h2 {
    font-size: 400;
    background-color: #fff;
    padding: 12px;
    margin: 0;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 2px;
}
.banner button {
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 44px;
    width: 150px;
    border-radius: 5px;
    color: #fff;
    background:  #F0A83E;
}
.main-list > li{
    display: inline;
    padding-right: 20px;
}
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}
.products > h2{
    font-size: 40px;
    font-weight: 700;
    color: #3C2313;
}
.products-cards {
    margin-top: 50px;
    display: flex;
    gap: 22px;
}
.products-single-card {
    background-color: #FBFAF6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.products-single-card > p {
    color: #F0A83E;
}

.contact-info {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.contact-info > h2 {
    color: #3C2313;
    font-weight: 700;
    margin-bottom: 20px;
}
.contact-info > input {
    border: none;
    width: 340px;
    border-radius: 15px;
    padding: 15px 15px;
    margin-bottom: 10px;
}
.contact-input {
    background-color: #3C2313;
    color: #fff;
}
.contact-input::placeholder {
    color: #fff;
}
.contact-buttons {
    margin-top: 40px;
    margin-bottom: 75px;
}
.contact-buttons > button {
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 44px;
    width: 110px;
    border-radius: 15px;
    color: #fff;
}
.contact-buttons--reset {
    background: #8A8787;

}
.contact-buttons--send {
    background:  #F0A83E;

}
.subscribe {
    display: flex;
    justify-content: space-between;
    background-color: #F0A83E;
    color: #fff;
    padding: 10px 47px;
}
.subscribe-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.subscribe--action > input {
    border: none;
    width: 271px;
    border-radius: 15px;
    padding: 15px 15px;
}
.subscribe--action > button {
    border: none;
    color: #fff;
    background-color: #3C2313;
    border-radius: 15px;
    padding: 15px 15px;
}
footer {
    background-color: #3C2313;
}
.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}
.footer-info-icons {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer-info-icons > article {
    display: flex;
    gap: 25px;
}
.footer-info-icons h4{
    color: #fff;
}
.footer-info-icons p{
    font-size: 10px;
    font-weight: 700;
    color: #8A8787;
}
footer > h4 {
    background-color: black;
    color: #fff;
    text-align: center;
}